@charset "utf-8";
/* CSS Document */

body {
	font-family: Verdana;
	color: #474747;
	margin: 0;
	background:#7A7A7A;
}

ul {
    list-style-type: none;
    margin: 5px 0px 5px 0px;
    overflow: hidden;
    background-color: #a8a8a8;
	font-size: 100%;
	padding-left: 17%;
}

li {
	float: left;
}

li a {
    display: block;
    color: #474747;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #5A5A5A;
}

header {
  overflow: hidden;
  background-image:url("https://webdesignerdepot.s3.amazonaws.com/default-images/25.jpg");
  padding: 20px 340px;
}


footer {
  overflow: hidden;
  background-color: #ededed;
  padding: 20px 10px;
  margin-top: 30px;
  bottom: 0;

}

a { color: inherit;

 } 


.ac {
    position: absolute;
    bottom: 57px;
    left: 16px;
}

.ac1 {
    position: absolute;
    bottom: 0px;
    left: 16px;
}


.old_price {
	position: absolute;
    bottom: 35px;
    left: 165px;
}

.new_price {
	position: absolute;
    bottom: 35px;
    left: 220px;
	color: #A3A3A3;
}

.price1 {
  position: absolute;
    bottom: 35px;
    left: 300px;
  color: #A3A3A3;
}

.buy {
	position: absolute;
    bottom: 8px;
    left: 170px;
	text-decoration-style: solid;
	
}

.div_box{
    width: 1200px;
	height: 315px;
    border: 1px solid #5A5A5A;
   
    margin: 0px;
}

.div_box1{
    width:  368px;
	height: 293px;
    border: 1px solid #5A5A5A;
    padding: 0px;
    margin: 45px 0px 0px 20px;
	float: left;
	position: relative;
}

.div_box2{
    width:  368px;
	height: 293px;
    border: 1px solid #5A5A5A;
    padding: 0px;
    margin: 0px 0px 0px 45px;
	float: left;
	position: relative;
}

.div_box3{
     width:  368px;
	height: 293px;
    border: 1px solid #5A5A5A;
    padding: 0px;
    margin: 0px 0px 0px 45px;
	float: left;
	position: relative;
}

.div_game1{
     width:  368px;
  height: 585px;
    border: 1px solid #5A5A5A;
    padding: 0px;
    margin: 0px 0px 0px 0px;
  float: left;
  position: relative;
}

.div_game2{
     width:  368px;
  height: 585px;
    border: 1px solid #5A5A5A;
    padding: 0px;
    margin: 0px 0px 0px 45px;
  float: left;
  position: relative;
}

.div_game3{
     width:  368px;
  height: 585px;
    border: 1px solid #5A5A5A;
    padding: 0px;
    margin: 0px 0px 0px 45px;
  float: left;
  position: relative;
}

.div_container{
    width: 1200px;
	height: 1000px;
	background: #ededed;
	margin: 0 auto;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 40px;
}

form {
	Margin-left: 10px;
}

input {
    width: 250px;
    padding: 5px;
	float:right;
}

.div_container_check {
	
	width: 400px;
}


body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #383942;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}




